<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>회원정보수정</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link th:inline="css" th:href="@{/css/member_modify.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="Content" class="modify_box">
    <h3>회원정보수정</h3>
    <div class="form_box">
        <form th:action="@{/mypage/membermodify}"  th:object="${memberDTO}"  method="post" name="frmMemberInsert">
            <input type="hidden" name="email">

            <div>
                <label for="email1">이메일:</label>
                <input type="text" id="email1" name="email1" th:field="*{email}" required/>

                <select id="email2" name="email2" onchange="addDomain()">
                    <option value="">도메인 선택</option>
                    <option value="@naver.com">@naver.com</option>
                    <option value="@gmail.com">@gmail.com</option>
                    <option value="@daum.net">@daum.net</option>
                    <option value="@hotmail.com">@hotmail.com</option>
                    <option value="@icloud.com">@icloud.com</option>
                </select>

                <button type="button" id="mail-Check-Btn">이메일 인증</button>
                <input class="mail-check-input" placeholder="인증번호 6자리를 입력해주세요." disabled="disabled" maxlength="6">
                <span id="mail-check-warn"></span>
            </div>

            <div>
                <label for="phoneNumber">(선택)전화번호:</label>
                <input type="tel" id="phoneNumber" th:field="*{phoneNumber}" required />
            </div>

            <div>
                <label for="zipcode">(선택)우편번호:</label>
                <input id="zipcode" name="zipcode" type="text" class="form-control" placeholder="zipcode" th:field="*{zipcode}" readonly>
                <input type="button" value="우편번호 검색" onclick="execDaumPostcode();">
            </div>

            <div class="form-group row">
                <label for="address1">주소1</label>
                <input name="address1" id="address1" type="text" th:field="*{address1}">
            </div>

            <div class="form-group row">
                <label for="address2">주소2</label>
                <input name="address2" id="address2" type="text" th:field="*{address2}">
            </div>

            <div>
                <button type="submit" onclick="checkModify()">회원정보 수정</button>
            </div>

        </form>
    </div>

</div>

<script src="/js/signup.js"></script>
<script src="https://spi.maps.daum.net/imap/map_js_init/postcode.v2.js"></script>
<script type="text/javascript" layout:fragment="script" th:inline="javascript">

    const email = document.getElementById("email1").value; // 입력 필드의 값 가져오기
    const mailId = email.split("@")[0]; // "@" 이전의 문자열 추출
    const mailDomain = email.substring(email.indexOf("@")); // "@" 이후의 문자열 추출

    document.getElementById("email1").value = mailId; // 사용자 이름 설정
    document.getElementById("email2").value = mailDomain; // 도메인 설정
    function checkModify() {
        $.ajax({
            url: "/silbaram/mypage/membermodify",
            type: "POST",
            data: $("form[name=frmMemberInsert]").serialize(),
            success: function (data) {
                // Display an alert box if the member information is successfully updated
                alert("회원정보가 성공적으로 업데이트 되었습니다.");
            },
            error: function (data) {
                // Display an alert box if there is an error during the update process
                alert("회원정보 업데이트에 실패하였습니다.");
            }
        });
    }
</script>

</body>

</html>